{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>vini-codex</title>
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
        name="description"
        content="Vini is a full-stack dev web developer who specializes Python and Javascript frameworks"
    />
    <meta name="robots" content="index,follow" />
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap"
        rel="stylesheet"
    />
</head>
    {% block content %}
    {% endblock %}
<footer>
      <h4>vinicodex &copy; 2018</h4>
      <ul>
        <li>
          <a href="#"
            ><img src="{% static 'icons/twitter 1.svg' %}" alt="twitter-social"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="{% static 'icons/instagram 1.svg' %}" alt="instagram-social"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="{% static 'icons/youtube-symbol 1.svg' %}" alt="youtube-social"
          /></a>
        </li>
      </ul>
</footer>
</html>